body {
    margin: 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Verdana', sans-serif;
    color: black;
    text-align: center;
    font-size: 64px;
}

h3 {
    font-family: 'Verdana', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
}

.title {
    background-color: #4dd5ff;
    width: 100vw;
    padding: 8vw;
    text-align: center;
}

.subtitle {
    width: 100vw;
    text-align: center;
    font-size: 32px;
}

.introduction {
    background-color: lightcyan;
    width: 100vw;
    text-align: center;
    font-family: Verdana;
    font-size: 17px;
    padding-top: 1vw;
    padding-bottom: 2vw;
    font-family: 'Times New Roman';
}

.application {
    background-color: lightblue;
    text-align: center;
    font-family: 'Times New Roman';
    width: 100vw;
}

.app {
    padding-bottom: 1vw;
}

.app-link {
    text-decoration: none;
}

.img {
    width: 50%;
    height: 50%;
}

.conclusion {
    background-color: #b5eeff;
    width: 100vw;
    text-align: center;
    font-family: 'Times New Roman';
}

.subconclusion {
    width: 100vw;
    text-align: center;
    font-size: 32px;
    padding-bottom: 2vw;
}

.paragraph {
    padding-top: 1vw;
    width: 100vw;
    text-align: center;
    font-size: 16px;
}